# IntelliJ IDEA
/**/.idea/

# Java
/**/*.class
/**/*.jar

# Maven
/**/target/
/**/.m2

# Eclipse
/**/.classpath
/**/.target
/**/.project
/**/.settings/
/**/.metadata/
/**/bin/

# Local folder for files that are required temporarily
/tmp/

# Virtual python environment
/env/

# Generated configuration
docker-compose.yml

# Vim
*.swp
