# PROJECT
# Local folder for files that are required temporarily
/tmp/
# Generated configuration
.env.values
docker-compose.yml

# LANGUAGES
# Java
/**/*.class
/**/*.jar
# Python
/env/
/**/*.pyc
/**/__pycache__

# DEVELOPMENT TOOLS
# Vim
*.swp
# IntelliJ IDEA
/**/.idea/
/**/*.iml
/**/*.ipr
/**/*.iws
# Eclipse
/**/.classpath
/**/.target
/**/.project
/**/.settings/
/**/.metadata/
/**/bin/
# Maven
/**/target/
/**/.m2
